[submodule "metamod-source"]
	path = metamod-source
	url = https://github.com/alliedmodders/metamod-source.git
[submodule "hl2sdk-cs2"]
	path = hl2sdk-cs2
	url = https://github.com/alliedmodders/hl2sdk.git
	branch = cs2
[submodule "cs2kz-metamod"]
	path = cs2kz-metamod
	url = https://github.com/KZGlobalTeam/cs2kz-metamod
